@font-face {
    font-family: CabinSketch;
    src: url(fonts/CabinSketch-Regular.ttf);
}

@font-face {
    font-family: CabinSketch;
    src: url(fonts/CabinSketch-Bold.ttf);
    font-weight: bold;
  }

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    max-width: 1000px;
    margin: 0px auto;
    background-color: rgb(20, 103, 99);
    font-family: CabinSketch, sans-serif;
    color:rgb(138, 209, 185);
    font-size: 26px;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
}

.wrapped {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.wrapped-choice {
    display: flex;
    padding: 30px;
}

.choices-dispay-div {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.show-choice {
    max-width: 100px;
    max-height: 100px;
    width: auto;
    height: auto;
    padding: 20px;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    min-width: 300px;
}

#choice-display {
    display: flex;
    padding: 10px;
    margin: 10px;
    border-style: groove;
    border-radius: 15px;
    border-color:rgb(138, 209, 185);
}

#user-choice-img {
    display: flex;
    max-width: 120px;
    max-height: 120px;
    width: auto;
    height: auto;
}

.img-choice:hover .player-btn {
    opacity: 0.5;
}

#computer-choice-img {
    display: flex;
    max-width: 120px;
    max-height: 120px;
    width: auto;
    height: auto;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    margin: 10px;
    font-size: 90px;
    font-weight: bold;
}

.player-btn {
    background: none;
    border: none;
}

.img-btn {
    max-width: 210px;
    max-height: 210px;
    width: auto;
    height: auto;
}

.choice-buttons {
    display: flex;
}

.img-choice {
    display: flex;
    flex-direction: column;
    padding: 60px;
}

.attribution {
    max-width: 250px;
    display: flex;
    justify-content: center;
}

a {
    color: rgb(154, 213, 193);
    text-decoration: none;
    font-size: 12px;
}

.footer {
    display: flex;
    align-items: center;
    font-size: 13px;
}